################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MegaDeskGroupProject/.vs/MegaDesk/FileContentIndex/fcb783df-bef8-4da6-a276-1099eaaad271.vsidx
